*{
    box-sizing: border-box;
    
}
body{
    background-color: aqua;
    overflow: hidden;
    
}
button{
    background-image: linear-gradient(to right, rgb(229, 171, 227) ,rgb(255, 0, 247)) ;
    padding:10px 15px;
    border-radius: 5px;

}

.wrap{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column;
    height: 100vh; /* Make the body full height of the viewport */
    margin: 0;
    gap:50px;
}

.content{
    background-color: transparent;
    height: 70vh;
    width: 50vw;
    font-size: 15px;
    overflow-y: auto; /* Add vertical scrollbar when content overflows */
    padding: 20px; 
}